<div class="flex flex-wrap">
    <div *ngFor="let hunting of competition.huntings" class="flex rounded">
        <div class="bg-yellow-500  flex flex-col w-28 h-28 justify-center hover:bg-yellow-400 cursor-pointer">
            <span class="text-center">{{hunting.fish.name}}</span>
        </div>
        <div class="bg-yellow-500  flex flex-col w-28 h-28 justify-center hover:bg-yellow-400 cursor-pointer">
            <span class="text-center">{{hunting.member.name}}</span>
        </div>
    </div>
</div>