<div class="flex align-bottom justify-center" style="align-items: flex-end">
    <div class="w-44 relative h-52 bg-teal-500 shadow-2xl z-10 flex  flex-col items-center justify-center">
        <p class="w-full bg-white text-center absolute top-0 text-xl">{{podium![2]?.member?.name}}</p>
        <img src="https://cdn-icons-png.flaticon.com/512/1021/1021179.png?ga=GA1.1.1577156254.1702208925" class="w-14 h-14">
        <p class="text-white py-10">
            {{podium![2]?.score}}
        </p>
    </div>
    <div class="w-44 relative h-96 bg-teal-500 shadow-2xl z-30 flex flex-col justify-center items-center">
        <p class="w-full bg-white text-center absolute top-0 text-xl">{{podium![0]?.member?.name}}</p>
        <img src="https://cdn-icons-png.flaticon.com/512/4093/4093152.png?ga=GA1.1.1577156254.1702208925" class="w-14 h-14">
        <p class="text-white py-10">
            {{podium![0]?.score}}
        </p>
    </div>
    <div class="w-44 relative h-72 bg-teal-500 shadow-2xl z-20 flex flex-col items-center justify-center">
        <p class="w-full bg-white text-center absolute top-0 text-xl">{{podium![1]?.member?.name}}</p>
        <img src="https://cdn-icons-png.flaticon.com/512/7636/7636106.png?ga=GA1.1.1577156254.1702208925" class="w-14 h-14">
        <p class="text-white py-10">
            {{podium![1]?.score}}
        </p>
    </div>
</div>
