<div class="card">
    <p-table [value]="members" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>First Name</th>
                <th>Family Name</th>
                <th>Username</th>
                <th>Account Type</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-member>
            <tr *ngIf="me.id!=member.id">
                <td>{{ member.name }}</td>
                <td>{{ member.familyName }}</td>
                <td>{{ member.username }}</td>
                <td>
                    <span *ngFor="let role of roles">
                        <button *ngIf="role.name!=member.role" (click)="update(member, role.name)"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Make
                            account {{ role.name }}</button>
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>